<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="file_upload_and_download">
        <form action="/upload" method="post" enctype=multipart/form-data >
            <input type="file" name="file">
            <input type="submit" value="Submit">
        </form>
        {% for filename in uploaded_files %}
            <table>
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename = 'uploads/' + filename  ) }}" alt="Some Image">
                    </td>
                    <td>{{filename}}</td>
                    <td>
                        <form action="{{ url_for('download', filename = filename  ) }}" method="post">
                            <input type="submit" value="Download">
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('edit', filename = filename ) }}" method="post">
                            <input type="submit" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('delete', filename = filename ) }}" method="post">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            </table>
        {% endfor %}
    </div>

</body>
</html>