<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImgEdit</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li>{{ category }} : {{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <form action="/upload" enctype=multipart/form-data method="post">
        <input type="file" name="file"><br>
        <input type="submit" value="Upload">
    </form>

    <table>
        {% for image in uploaded_images %}
            <tr>
                <td><img src="{{ url_for('static', filename='uploaded_images/' + image) }}" alt="{{ image }}"></td>
            </tr>
        {% endfor %}
    </table>
    
</body>
</html>